<%- include ('header') %>

<div class="dropdown">
  <a class="main dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= listTitle %>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">   
      <a  class="main dropdown-item" href="/">Today</a>
    <% foundLists.forEach(list => { %>
    <!-- <form action="/deleteList" method="post"> -->
    <!-- <div class="item"> -->
    <% if (list.name != "Favicon.ico") { %>
    <!-- <input name="checkbox" type="checkbox" value="<%=list._id%>" onChange="this.form.submit()" /> -->
      <a class="main dropdown-item" href="/<%= list.name %> "><%= list.name %></a>
    <% } %>
    <!-- </div> -->
    <% }) %>
    <form class="item list" action="/addList" method="post">
      <input type="text" name="newList" placeholder="New List" autocomplete="off" required>
      <button type="submit">+</button>
    </form>
  </ul>
</div>

<div class="box">
  <% newListItems.forEach(item=> { %>
  <form action="/delete" method="post">
    <div class="item">
      <input name="checkbox" type="checkbox" value="<%=item._id%>" onChange="this.form.submit()" />
      <p>
        <%= item.name %>
      </p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %> ">
  </form>
  <% }) %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required />
    <button type="submit" name="list" value="<%= listTitle %> ">+</button>
  </form>
</div>

<%- include ('footer') %>